{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-4">
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
          
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_list' %}">Create Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' %}">
                    Watchlist <button type="submit" id="quantidade" class="btn btn-dark p-0 pl-1 pr-1" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .20rem;">
                       
                        </button>
                    <i class="bi bi-1-square-fill"></i>
                </a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </div>

    <script>


        // -----------------------------------------
  
        endpoint = '/showQtdWatchlist/'
  
        $.ajax({
          method: "GET",
          url: endpoint,
          success: function(data){
          quantidade = data
          showQuantidade()
          
  
          },
          error: function(error_data){
            console.log("errors")
            console.log(error_data)
          }
        })
  
        function showQuantidade() {
            
        }
      </script>
        
    </body>
</html>
