
{% extends "auctions/layout.html" %}
{% block body %}
<style>
  .watchlist-addbutton {
    display:flex;
    justify-content:flex-end;
  }
</style>

<center>


<div class="container-md">
            
  <div class="container border  p-4 ">
      
    <div class="row">
      <div class="col">
        <img src="../media/{{auction.auction_url_img}}" class="card-img-top" alt="..." >
      </div>
      <div class="col">
        <h2 class="card-title">{{auction.auction_title}}</h2>
        <h6 class="card-title"> <b>Price:</b> ${{auction.initial_bids}}</h6>
        <p class="card-text">{{auction.auction_desc}}</p>
        <p class="text-secondary">Created {{auction.created_at}}</p>
        <div class="form-group">
          <input class="form-control" type="number" name="bid" placeholder="Bid">
      </div>
      <a href="" class="btn btn-outline-dark">Place Bid</a>
      <br><br>
      <h3>Details</h3>
      <ul>
          <li>Listed by: {{auction.created_by}}</li>
          <li>Category: {{auction.auction_category}}</li>
      </ul>
      </div>

      {%if user.is_authenticated %}
        {% if auction in myauctions %}
            <form action="{% url 'deleteWatchList' auction.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-dark">
            Remove WatchList
            </button>
          </form>
        {% else %}
        <div class="d-grid gap-2 d-md-block">
        <a href="{% url 'addWatchList' auction.id %}" class="btn btn-outline-dark" data-bs-toggle="button">Add WatchList</a>
        </div>
        {% endif %}
     
      
      {% else %}
      <h1>Nao autenticado</h1>
      {% endif %}
    </div>

  </div>
</div>

  

{% endblock %}