
{% extends "auctions/layout.html" %}
{% block body %}
<style>
  .watchlist-addbutton {
    display:flex;
    justify-content:flex-end;
  }
</style>

<center>


<div class="container-md">
            
  <div class="container border  p-4 ">
      
    <div class="row">
      <div class="col">
        <img src="../media/{{auction.auction_url_img}}" class="card-img-top" alt="..." >
      </div>
      <div class="col">
        <h2 class="card-title">{{auction.auction_title}}</h2>
        <h6 class="card-title"> <b>Price:</b> ${{auction.initial_bids}}</h6>
        <p class="card-text">{{auction.auction_desc}}</p>
        <p class="text-secondary">Created {{auction.created_at}}</p>
        <div class="form-group">
          <input class="form-control" type="number" name="bid" placeholder="Bid">
      </div>
      <a href="" class="btn btn-primary">Place Bid</a>
      <br><br>
      <h3>Details</h3>
      <ul>
          <li>Listed by: {{auction.created_by}}</li>
          <li>Category: {{auction.auction_category}}</li>
      </ul>
      </div>

      <div class="col">
        {%if user.is_authenticated %}
        <a href="{% url 'addWatchList' auction.id %}" class="btn btn-outline-primary" data-bs-toggle="button">WatchList<img src="../static/img/view-icon.png" width="50rem"></a>
        {% else %}
        
        {% endif %}
      </div>
   
    </div>
  </div>
</div>

  

{% endblock %}