{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .flex {
      display:flex;
      justify-content:center;
      flex-wrap:wrap;
    }
  
    .flex > div {
      margin:1rem;
  
    
    }
  
    .cover {
    
      object-fit: cover;
      
    }
  </style>
  
  <center>
      <h2>Listings</h2> 
      <div class="flex">
      {% for auction in auctions%}
    
      <div class="container-md ">
        <div class="container border p-4 ">
          <div class="row" >
            
            <div class="col">
              {% if user.is_authenticated %}
  
              {% for myauction in myauctions %}
                {% if myauction == auction %}
                  <div class="col">
                   <button type="submit" id="quantidade" class="btn btn-dark p-0 pl-1 pr-1" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .20rem;">
                    WatchList
                  </button>
                  </div>
               
                {% endif %}
              {% endfor %}
            {% endif %}
            <br>
              <img src="../media/{{auction.auction_url_img}}" class="card-img-top cover" alt="...">
            </div>
            <div class="col w-20">
              <h2 class="card-title text-capitalize">{{auction.auction_title}}</h2>
              <h6 class="card-title text-capitalize"> <b>Price:</b> ${{auction.initial_bids}}</h6>
              <p class="card-text">{{auction.auction_desc}}</p>
              <p class="text-secondary">Created {{auction.created_at}}</p>
              {% if user.is_authenticated %}
              <a href="{% url 'list_details' auction.id %}" class="btn btn-outline-dark m-3">View all Details</a>
              {% if request.user == auction.created_by %}
              {% if auction.auction_state %}
              <a href="{% url 'deactivateAuction' auction.id %}" class="btn btn-danger">Deactivate</a>
              {% else %}
              <a href="{% url 'activateAuction' auction.id %}" class="btn btn-success"  >Activate</a>
              {% endif %}
              {% endif %}
              <br><br>
             
  
              {% endif %}
            </div>
            {%if user.is_authenticated %}
  
            {% if auction in myauctions %}
                <form action="{% url 'deleteWatchList' auction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">
                Remove WatchList
                </button>
              </form>
            {% else %}
            <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'addWatchList' auction.id %}" class="btn btn-outline-dark" data-bs-toggle="button">Add WatchList</a>
            </div>
            
            {% endif %}
         
          
          {% else %}
          <!-- <h1>Nao autenticado</h1> -->
          {% endif %}
          </div>
        </div>
      </div>
      
  
      
     
      {% endfor %}
      </div>
      <center>

  
{% endblock %}