{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control w-50" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control w-50" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control w-50" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control w-50" type="password" name="confirmation" placeholder="Confirm Password">
        </div>

        <div class="form-group">
            <label for="formFile" class="form-label">Profile Picture</label>
            <input class="form-control w-50 " type="file" name="perfil_image" id="formFile" placeholder="profile picture" required>
        </div>

        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}